{% extends "admin/admin_layout.html" %}

{% block admin_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Admin Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <p class="card-text display-4">{{ total_users }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Active Schedules</h5>
                <p class="card-text display-4">{{ total_schedules }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-info">
            <div class="card-body">
                <h5 class="card-title">Collections This Week</h5>
                <p class="card-text display-4">{{ collections_this_week }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Email Statistics</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6>Total Emails Sent</h6>
                        <p class="h3">{{ total_emails }}</p>
                    </div>
                    <div class="col">
                        <h6>Failed Emails</h6>
                        <p class="h3 text-danger">{{ failed_emails }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
